<!DOCTYPE html>
<html>
<head>
  <title>Waleed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>	
		
    
	 
	     <div class="banner">
		<img src = "Contact us.jpg" alt = "Image of Contact us" width="1370" height="400"/>
	     </div>
		
	   <h1>Contact us</h1>
	   <p></p>
	   <h5> Our vision is to take care of your vision.</h5>
	   <p> Our website is made for students and to solve the problems being faced by students.Student can submit their queries regarding their level of studies and different programs and we will provide solutions to their problems.</p><br>
	   
	
   
  
   
	</body>
    
	<footer><br>
	    <div class="section">
	          
			  <p><b> Contact us</b> </p>
			   <p>ooo-111-222<br>
			   Mayor Street,IFSC,Dublin1<br>
			   GradStudentServices@gmail.com</p>
			   </div>
	    
		<div class="section">
		     <ul>
			 <a href="www.facebook.com"><img src = "fb.jpg " alt = "link to facebook" width="50" height="50"/></a>
			 <a href="www.twitter.com"><img src = "twiter.png" alt = "link to twiter"width="50" height="50"/></a>
			 </ul>
	    </div>
	</footer>
	

</html>

<?php
$name= _Submit["name"];

<div id= 'footer'>
  <h6 class= "footertext">&copy; Online Appointment System &trade; 2017</h6>
</div>
</body>
</html>